.create-contact-form {
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: #1e1e1e;
  border-radius: 16px;
}

.custom-input {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: none !important;
  outline: none !important;
  height: 50px !important;
  border: none !important;
  border-radius: 100vmax !important;
}

.submit-btn {
  display: block;
  width: 100%;
  height: 50px;
  border: none !important;
  border-radius: 100vmax !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #0a9f55 !important;
  color: #fdf8f8;
  text-transform: uppercase;
  font-size: 16px;
}
