.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.contact-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-top p {
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

.custom-btn {
  padding: 8px 35px;
  border-radius: 100vmax;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: none !important;
  outline: none !important;
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  background-color: #109777;
}
.contacts {
  padding: 25px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.contact-list {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
