* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: linear-gradient(
    to left top,
    #960e1b,
    #ac1155,
    #a73a92,
    #8363c8,
    #1286eb
  );
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}
p {
  margin: 0 !important;
}
